body {
    background-image: url("food.png");
    position: relative;
}

@font-face {
  font-family: quirlyc;
  src: url(Quirlycues.ttf);
       
}

.panel-default {
    position: relative;
    left: 300px;
    height: 300px;
    width: 500px;
    border-color: #ddd;
    background-color: grey;
    border: 1px solid transparent;
    box-sizing: border-box;
    display: block;
}

#filter-add-side {
    position: absolute;
    left: 900px;
    width: 300px;
    height: 600px;
    top: 40px;
}

#filter-box {
    bottom: 200px;
    position: relative;
    top: 30px;
    padding-right: 20px,
}

#filterdate {
    position: relative;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: 10px 10px 57px -20px rgba(0,0,0,0.75);
    border-color: white;
    opacity: 0.7;
    font-family: verdana;

}

#filterbutton {
    position: relative;
    margin-left: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #6FE45A;
    border-color: #6FE45A;
    opacity: 0.8;
}

#name, #calories, #date {
    margin-top: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-color: white;
    opacity: 0.7;
    font-family: verdana;
}

#add {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #6FE45A;
    border-color: #6FE45A;
    margin-top: 10px;
    opacity: 0.8;
}

#listContainer {
    border-left: 2px solid white;
    border-right: 2px solid white;
    width: 500px;
    left: 300px;
    position: relative;
    padding: 10px;
    padding-left: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    top: 30px;
}

#listContainer>p {
    font-family: quirlyc;
    font-style: bold;
    font-size: 28px;
}

#sumcalorie {
    width: 150px;
    font-family: quirlyc;
    font-size: 25px;
    font-weight: bold;
    left: 600px;
    position: relative;
    top: 50px;
}

#addfields {
    width: 300px;
    position: relative;
    top: 60px;
    margin: 0;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #6FE45A;
    opacity: 0.85;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a button {
    display: block;
    text-decoration: none;
    color: white;
    width: 250px;
    background-color: #6FE45A;
    margin-bottom: 10px;
    height: 60px;
    border-color: black;
    border: 0;
    font-size: 40px;
    font-style: bold;
    margin-top: 5px;
    font-family: quirlyc;
}

.sidebar-nav li a button:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a button:active,
.sidebar-nav li a button:focus {
    text-decoration: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}